<!DOCTYPE html>
<html>
<body> This is our about page. </body>

<h1> Welcome to my new page! </h1>

<p> This page will explain everything you need to know about how to find images! They could be simple images or extreme! Either way, welcome to my new page! </p>

<%= link_to 'Home', root_path %>
<%= link_to 'Click here to go to my blog', blog_path%>
